In [1]:
import requests
import time
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('my_df.csv')

In [3]:
df.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7'], dtype='object')

In [4]:
df.rename(columns={'0':'ids', '1':'authors', '2':'subreddits', '3':'num_comments', '4':'titles', 
                   '5':'scores', '6':'utc','7': 'created_utc'}, inplace=True)

In [5]:
df.head()

,ids,authors,subreddits,num_comments,titles,scores,utc,created_utc
0,8n25ux,GallowPlaceholder,gifs,1137,Millionaire meets billionaire,18614,1.527653e+09,1.527624e+09
1,8n14rc,Bigga_D,news,5877,ABC cancels Roseanne Barr's sitcom after her t...,43404,1.527645e+09,1.527616e+09
2,8n13k3,grand_nagus_gary,television,10083,‘Roseanne’ Cancelled: ABC Scraps Season 11 Aft...,34571,1.527645e+09,1.527616e+09
3,8n0tgf,jcardona1,mildlyinfuriating,2525,North Face stole my photo and put it on their ...,47738,1.527643e+09,1.527614e+09
4,8n1541,Evni37,starterpacks,643,Cosplay Starter Pack,14637,1.527645e+09,1.527616e+09

In [6]:
df.shape

(2500, 8)

In [7]:
# To find time length of posts

In [8]:
df['timelength']=(df.created_utc-np.min(df.created_utc))/(3600)
df['timelength'].head()

0    21.546944
1    19.441944
2    19.373056
3    18.789444
4    19.463056
Name: timelength, dtype: float64

In [9]:
df=df.drop(['ids','authors','utc'], axis=1)

In [10]:
df.head()

,subreddits,num_comments,titles,scores,created_utc,timelength
0,gifs,1137,Millionaire meets billionaire,18614,1.527624e+09,21.546944
1,news,5877,ABC cancels Roseanne Barr's sitcom after her t...,43404,1.527616e+09,19.441944
2,television,10083,‘Roseanne’ Cancelled: ABC Scraps Season 11 Aft...,34571,1.527616e+09,19.373056
3,mildlyinfuriating,2525,North Face stole my photo and put it on their ...,47738,1.527614e+09,18.789444
4,starterpacks,643,Cosplay Starter Pack,14637,1.527616e+09,19.463056

In [11]:
df.drop_duplicates(['titles'], inplace=True)

In [12]:
df.shape

(2379, 6)

In [13]:
df.reset_index(inplace=True)

In [14]:
df.shape

(2379, 7)

In [15]:
df.to_csv('original', index=False)

In [16]:
len(set(df.titles))

2379

In [17]:
df.corr()

                 index  num_comments    scores  created_utc  timelength
index         1.000000     -0.222218 -0.372059     0.071357    0.071357
num_comments -0.222218      1.000000  0.504004    -0.093733   -0.093733
scores       -0.372059      0.504004  1.000000    -0.286410   -0.286410
created_utc   0.071357     -0.093733 -0.286410     1.000000    1.000000
timelength    0.071357     -0.093733 -0.286410     1.000000    1.000000

In [18]:
# Checking what time of day is the most of posts are posted.

In [19]:
df.describe()

             index  num_comments        scores   created_utc   timelength
count  2379.000000   2379.000000   2379.000000  2.379000e+03  2379.000000
mean   1210.247163     99.668348   2213.812947  1.527603e+09    15.681879
std     706.182915    410.923925   6218.414621  1.488496e+04     4.134710
min       0.000000      0.000000     31.000000  1.527546e+09     0.000000
25%     597.500000      9.000000    146.000000  1.527596e+09    13.743194
50%    1210.000000     25.000000    354.000000  1.527605e+09    16.272778
75%    1816.500000     65.000000   1162.500000  1.527613e+09    18.458472
max    2499.000000  10083.000000  68086.000000  1.527630e+09    23.265833

In [20]:
desc=df.describe()

In [21]:
desc.created_utc['mean']

1527602831.764607

In [22]:
from datetime import datetime
print(
    datetime.fromtimestamp(
        int(desc.created_utc['mean'])
    ).strftime('%Y-%m-%d %H:%M:%S')
)

2018-05-29 09:07:11

In [23]:
#   The oldest post

In [24]:
print(
    datetime.fromtimestamp(
        int(desc.created_utc['min'])
    ).strftime('%Y-%m-%d %H:%M:%S')
)

2018-05-28 17:26:17

In [25]:
# The newest post

In [26]:
print(
    datetime.fromtimestamp(
        int(desc.created_utc['max'])
    ).strftime('%Y-%m-%d %H:%M:%S')
)

2018-05-29 16:42:14

In [27]:
np.median(df.created_utc)

1527604959.0

In [28]:
# Median or the most of posts are posted time.

In [29]:
print(
    datetime.fromtimestamp(
        int(np.median(df.created_utc))
    ).strftime('%Y-%m-%d %H:%M:%S')
)

2018-05-29 09:42:39

In [30]:
df.subreddits.to_csv('subreddits.csv', index=False)

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [32]:
#          HIGH/ LOW CATEGORY IS MY TARGET

In [33]:
med=np.median(df.num_comments)
med

25.0

#  KNN: score vs target

In [34]:
df['target']=df.num_comments.map(lambda x: 1 if x>=med else 0)

In [35]:
y=df['target']
X=df.scores

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [37]:
X=X.reshape(-1, 1)

/Users/enkhbat/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """Entry point for launching an IPython kernel.

In [38]:
ss=StandardScaler()

In [39]:
ss.fit(X)

/Users/enkhbat/miniconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [40]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

In [41]:
df.head()

,index,subreddits,num_comments,titles,scores,created_utc,timelength,target
0,0,gifs,1137,Millionaire meets billionaire,18614,1.527624e+09,21.546944,1
1,1,news,5877,ABC cancels Roseanne Barr's sitcom after her t...,43404,1.527616e+09,19.441944,1
2,2,television,10083,‘Roseanne’ Cancelled: ABC Scraps Season 11 Aft...,34571,1.527616e+09,19.373056,1
3,3,mildlyinfuriating,2525,North Face stole my photo and put it on their ...,47738,1.527614e+09,18.789444,1
4,4,starterpacks,643,Cosplay Starter Pack,14637,1.527616e+09,19.463056,1

In [42]:
knn_10 = KNeighborsClassifier(n_neighbors=10)

In [43]:
knn_10.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=10, p=2,
           weights='uniform')

In [44]:
knn_10.score(X_train, y_train)

0.7507846829880728

In [45]:
knn_10.score(X_test, y_test)

0.7290076335877863

In [46]:
y_pred=knn_10.predict(X_test)

In [47]:
y_pred[:10]

array([1, 0, 0, 0, 1, 0, 0, 0, 1, 1])

In [48]:
y_test.head()

1133    0
700     1
1025    0
1995    0
1356    1
Name: target, dtype: int64

In [52]:
# create dataframe of matrix and add to variable conmat
confusion_mat = pd.DataFrame(confusion_matrix(y_test, y_pred), 
                                              columns=['predicted_High(1)', 'predicted_low(0)'], 
                      index=['is_High(1)', 'is_Low(0)'])

In [53]:
confusion_mat

            predicted_High(1)  predicted_low(0)
is_High(1)                314                82
is_Low(0)                 131               259

In [54]:
print("\nClassification Report:\n",classification_report(y_test, y_pred))
# recall is sensetivity, shows confusion matrix scoring

Classification Report:
              precision    recall  f1-score   support

          0       0.71      0.79      0.75       396
          1       0.76      0.66      0.71       390

avg / total       0.73      0.73      0.73       786

# KNN: subreddit vs target

In [135]:
#reset x and y to high/low and subreddit#reset x a 
y = df['target']
X = df['subreddits']

cvec = CountVectorizer(stop_words = 'english') 

X  = pd.DataFrame(cvec.fit_transform(X).todense(),
             columns=cvec.get_feature_names())

In [136]:
# Put it into  standard scalar# Put it i 
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
Xs = ss.fit_transform(X)
type(Xs)
Xs

array([[-0.02050662, -0.02050662, -0.02050662, ..., -0.02050662,
        -0.02900684, -0.02050662],
       [-0.02050662, -0.02050662, -0.02050662, ..., -0.02050662,
        -0.02900684, -0.02050662],
       [-0.02050662, -0.02050662, -0.02050662, ..., -0.02050662,
        -0.02900684, -0.02050662],
       ...,
       [-0.02050662, -0.02050662, -0.02050662, ..., -0.02050662,
        -0.02900684, -0.02050662],
       [-0.02050662, -0.02050662, -0.02050662, ..., -0.02050662,
        -0.02900684, -0.02050662],
       [-0.02050662, -0.02050662, -0.02050662, ..., -0.02050662,
        -0.02900684, -0.02050662]])

In [137]:
Xs=pd.DataFrame(Xs)

In [138]:
Xs.to_csv('just_subreddit', index=False)

In [139]:
ss = StandardScaler()
X = ss.fit_transform(X)
type(X)
X

array([[-0.02050662, -0.02050662, -0.02050662, ..., -0.02050662,
        -0.02900684, -0.02050662],
       [-0.02050662, -0.02050662, -0.02050662, ..., -0.02050662,
        -0.02900684, -0.02050662],
       [-0.02050662, -0.02050662, -0.02050662, ..., -0.02050662,
        -0.02900684, -0.02050662],
       ...,
       [-0.02050662, -0.02050662, -0.02050662, ..., -0.02050662,
        -0.02900684, -0.02050662],
       [-0.02050662, -0.02050662, -0.02050662, ..., -0.02050662,
        -0.02900684, -0.02050662],
       [-0.02050662, -0.02050662, -0.02050662, ..., -0.02050662,
        -0.02900684, -0.02050662]])

In [140]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [141]:
knn3 = KNeighborsClassifier( n_neighbors=3,  
                           weights='uniform')
scores = cross_val_score(knn3,  X_train, y_train,  cv=5)
knn3.fit(X_train, y_train)
np.mean(scores), np.std(scores)

(0.49249247082736736, 0.001644832262915285)

In [65]:
knn3 = KNeighborsClassifier( n_neighbors=3,  
                           weights='uniform')
scores = cross_val_score(knn3,  X_test, y_test,  cv=5)
np.mean(scores), np.std(scores)

(0.525214222397321, 0.00147739584359301)

In [70]:
y_pred=knn3.predict(X_test)

In [71]:
# create dataframe of matrix and add to variable conmat
confusion_mat = pd.DataFrame(confusion_matrix(y_test, y_pred), 
                                              columns=['predicted_High(1)', 'predicted_low(0)'], 
                      index=['is_High(1)', 'is_Low(0)'])

In [72]:
confusion_mat

            predicted_High(1)  predicted_low(0)
is_High(1)                  0               339
is_Low(0)                   1               374

In [ ]:
print("\nClassification Report:\n",classification_report(y_test, y_pred))
# recall is sensetivity, shows confusion matrix scoring

# KNN: title vs target

In [114]:
import regex as re
from nltk.corpus import stopwords

In [115]:
X=df.titles
y=df.target

In [116]:
X.to_csv('just_title', index=False)

In [117]:
def review_to_words(raw_review):
    # remove non words
    letters_only = X.map(lambda x:re.sub("[^a-zA-Z0-9]", " ", x))
    # make lower letters
    words = letters_only.map(lambda x: x.lower().split())
    # declare stop wors
    stops = list(set(stopwords.words('english')))
    # remove stop wors
    clean_words = words.map(lambda x:x if not x in stops else words)
    return(clean_words)

In [118]:
X=review_to_words(X)

In [119]:
new_values = []
for i in X.values:
    new_values.append(" ".join(i))

In [120]:
x_dict = {'text':X.values, 'joined_text':new_values}

In [121]:
new_df = pd.DataFrame(x_dict)

In [122]:
key_words=['roseanne' 'cancelled' 'abc' 'scraps' 'seaso']

In [123]:
new_df.head()

,joined_text,text
0,millionaire meets billionaire,"[millionaire, meets, billionaire]"
1,abc cancels roseanne barr s sitcom after her t...,"[abc, cancels, roseanne, barr, s, sitcom, afte..."
2,roseanne cancelled abc scraps season 11 after ...,"[roseanne, cancelled, abc, scraps, season, 11,..."
3,north face stole my photo and put it on their ...,"[north, face, stole, my, photo, and, put, it, ..."
4,cosplay starter pack,"[cosplay, starter, pack]"

In [124]:
# new_df['cols']=[new_df.joined_text.map(lambda x: True if x in key_words else 0)]

In [125]:
# Vectorize
cvec = CountVectorizer(stop_words='english')
 

X  = pd.DataFrame(cvec.fit_transform(new_df.joined_text).todense(),
             columns=cvec.get_feature_names())

In [126]:
X.head()

,00,000,00am,01m,03,07,09,10,100,100k,...,zhongwei,zijn,zofia,zonable,zoo,zoomies,zoro,zorro,zr,ztd
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [128]:
# X.to_csv('title_no_scaler', index=False)

In [129]:
ss = StandardScaler()
Xt = ss.fit_transform(X)
type(Xt)
Xt

array([[-0.03553345, -0.05572141, -0.02050662, ..., -0.02050662,
        -0.02050662, -0.02050662],
       [-0.03553345, -0.05572141, -0.02050662, ..., -0.02050662,
        -0.02050662, -0.02050662],
       [-0.03553345, -0.05572141, -0.02050662, ..., -0.02050662,
        -0.02050662, -0.02050662],
       ...,
       [-0.03553345, -0.05572141, -0.02050662, ..., -0.02050662,
        -0.02050662, -0.02050662],
       [-0.03553345, -0.05572141, -0.02050662, ..., -0.02050662,
        -0.02050662, -0.02050662],
       [-0.03553345, -0.05572141, -0.02050662, ..., -0.02050662,
        -0.02050662, -0.02050662]])

In [130]:
# final sise check
print([X.shape[0],y.shape[0]])

[2379, 2379]

In [131]:
# X_train, X_test, y_train, y_test = train_test_split(Xs, y, test_size=0.33, random_state=42)

In [132]:
knn3.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [133]:
y_pred=knn3.predict(X_test)

In [134]:
# create dataframe of matrix and add to variable conmat
confusion_mat = pd.DataFrame(confusion_matrix(y_test, y_pred), 
                                              columns=['predicted_High(1)', 'predicted_low(0)'], 
                      index=['is_High(1)', 'is_Low(0)'])



confusion_mat

            predicted_High(1)  predicted_low(0)
is_High(1)                321                75
is_Low(0)                 143               247

In [93]:
print("\nClassification Report:\n",classification_report(y_test, y_pred))
# recall is sensetivity, shows confusion matrix scoring

Classification Report:
              precision    recall  f1-score   support

          0       0.00      0.00      0.00       339
          1       0.52      1.00      0.69       375

avg / total       0.28      0.52      0.36       714

In [ ]:
print()

In [94]:
X.head()

,00,000,00am,01m,03,07,09,10,100,100k,...,zhongwei,zijn,zofia,zonable,zoo,zoomies,zoro,zorro,zr,ztd
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [95]:
Xt=pd.DataFrame(Xt)

In [96]:
df_1=pd.DataFrame(df.scores)

In [97]:
df_1.shape

(2379, 1)

In [98]:
df_con=pd.concat([df_1, Xt], axis=1)

In [99]:
df_con.shape

(2379, 6737)

In [100]:
df_con.to_csv('titles_scores', index=False)

In [101]:
df_con.head()

,scores,0,1,2,3,4,5,6,7,8,...,6726,6727,6728,6729,6730,6731,6732,6733,6734,6735
0,18614,-0.035533,-0.055721,-0.020507,-0.020507,-0.020507,-0.020507,-0.020507,-0.076278,-0.064971,...,-0.020507,-0.020507,-0.020507,-0.020507,-0.045893,-0.029007,-0.020507,-0.020507,-0.020507,-0.020507
1,43404,-0.035533,-0.055721,-0.020507,-0.020507,-0.020507,-0.020507,-0.020507,-0.076278,-0.064971,...,-0.020507,-0.020507,-0.020507,-0.020507,-0.045893,-0.029007,-0.020507,-0.020507,-0.020507,-0.020507
2,34571,-0.035533,-0.055721,-0.020507,-0.020507,-0.020507,-0.020507,-0.020507,-0.076278,-0.064971,...,-0.020507,-0.020507,-0.020507,-0.020507,-0.045893,-0.029007,-0.020507,-0.020507,-0.020507,-0.020507
3,47738,-0.035533,-0.055721,-0.020507,-0.020507,-0.020507,-0.020507,-0.020507,-0.076278,-0.064971,...,-0.020507,-0.020507,-0.020507,-0.020507,-0.045893,-0.029007,-0.020507,-0.020507,-0.020507,-0.020507
4,14637,-0.035533,-0.055721,-0.020507,-0.020507,-0.020507,-0.020507,-0.020507,-0.076278,-0.064971,...,-0.020507,-0.020507,-0.020507,-0.020507,-0.045893,-0.029007,-0.020507,-0.020507,-0.020507,-0.020507

# Connecting 'title'+'score'+'subreddit'

In [102]:
df_con=pd.concat([df_con, Xs], axis=1)

In [103]:
df_con.shape

(2379, 8667)

In [104]:
df_con.head()

,scores,0,1,2,3,4,5,6,7,8,...,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929
0,18614,-0.035533,-0.055721,-0.020507,-0.020507,-0.020507,-0.020507,-0.020507,-0.076278,-0.064971,...,-0.020507,-0.020507,-0.029007,-0.020507,-0.029007,-0.020507,-0.020507,-0.020507,-0.029007,-0.020507
1,43404,-0.035533,-0.055721,-0.020507,-0.020507,-0.020507,-0.020507,-0.020507,-0.076278,-0.064971,...,-0.020507,-0.020507,-0.029007,-0.020507,-0.029007,-0.020507,-0.020507,-0.020507,-0.029007,-0.020507
2,34571,-0.035533,-0.055721,-0.020507,-0.020507,-0.020507,-0.020507,-0.020507,-0.076278,-0.064971,...,-0.020507,-0.020507,-0.029007,-0.020507,-0.029007,-0.020507,-0.020507,-0.020507,-0.029007,-0.020507
3,47738,-0.035533,-0.055721,-0.020507,-0.020507,-0.020507,-0.020507,-0.020507,-0.076278,-0.064971,...,-0.020507,-0.020507,-0.029007,-0.020507,-0.029007,-0.020507,-0.020507,-0.020507,-0.029007,-0.020507
4,14637,-0.035533,-0.055721,-0.020507,-0.020507,-0.020507,-0.020507,-0.020507,-0.076278,-0.064971,...,-0.020507,-0.020507,-0.029007,-0.020507,-0.029007,-0.020507,-0.020507,-0.020507,-0.029007,-0.020507

In [105]:
X=df_con

In [106]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [107]:
knn5=KNeighborsClassifier(5)

In [108]:
knn5.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [109]:
print(knn5.score(X_train, y_train), knn5.score(X_test, y_test))

0.7589453860640302 0.7468193384223919

In [110]:
y_pred=knn5.predict(X_test)

In [111]:
# create dataframe of matrix and add to variable conmat
confusion_mat = pd.DataFrame(confusion_matrix(y_test, y_pred), 
                                              columns=['predicted_High(1)', 'predicted_low(0)'], 
                      index=['is_High(1)', 'is_Low(0)'])

In [112]:
confusion_mat

            predicted_High(1)  predicted_low(0)
is_High(1)                334                62
is_Low(0)                 137               253

In [113]:
print("\nClassification Report:\n",classification_report(y_test, y_pred))
# recall is sensetivity, shows confusion matrix scoring

Classification Report:
              precision    recall  f1-score   support

          0       0.71      0.84      0.77       396
          1       0.80      0.65      0.72       390

avg / total       0.76      0.75      0.74       786

In [ ]:
df_con.to_csv('df_con', index=False)

In [ ]:
y=pd.DataFrame(y)

In [ ]:
y.to_csv('target', index=False)